<div>
  <h1>Proyecto de backend</h1>

  <h3>Lista de productos:</h3>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Codigo</th>
        <th>Stock</th>
        <th>Category</th>
        <th>Status</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each productos}}
        <tr>
          <td> {{this._id}} </td>
          <td> {{this.title}} </td>
          <td> {{this.description}} </td>
          <td> {{this.price}} </td>
          <td> {{this.code}} </td>
          <td> {{this.stock}} </td>
          <td> {{this.category}} </td>
          <td>
            {{#if this.status}}
              Activo
            {{else}}
              Desactivado
            {{/if}}
          </td>
          <td>
            {{#if this.thumbnails.length}}
              <a href="{{this.thumbnails}}" target="_blank">
                {{this.thumbnails}}
              </a>
            {{else}}
              No hay imagen
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>