<div class="container bienvenido">
    <h4>Bienvenido!  {{user.userName}}</h4>
    <h4>Role: {{user.role}} </h4>
        <li class="page-item btn btn-info" style="color:white">
        <a class="page-link" href="/myProfile/myCart">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
            fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 
                .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 
                12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 
                0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        </a>
    </li>
    <li class="page-item btn btn-dark" style="color:white">
        <a class="page-link" href="/api/session/logout"> Log Out </a>
    </li>
</div>
<section class="container-fluid boxProducts">
    {{#each products}}
    <div class="card" style="width: 20rem">
        <img src={{this.thumbnails}} class="img-fluid card-img-top" alt={{this.title}} style="height: 13rem;">
        <div class="card-body">
            <h3 class="card-title"> {{this.title}} </h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> {{this.description}} </li>
            <li class="list-group-item">Price: {{this.price}} </li>
        </ul>
        <div class="card-body boxProducts">
            <button type="button" class="btn btn-dark">ver mas</button>
            <button class="btn btn-success" onclick="addProduct( '{{this._id}}' , '{{../user.cart}}' )">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 
                    .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 
                    0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </button>
        </div>
    </div>
    {{/each}}
</section>
<section class="container-fluid boxProducts">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if hasPrevPage}}
                <li class="page-item">
                    <a class="page-link" href="/api/products?page={{prevPage}}&sort={{sort}}"> Previous </a>
                </li>
            {{/if}}
            {{#if totalPages}}
                <li class="page-item"><a class="page-link" href="/api/products?page={{page}}"> {{page}} </a></li>
            {{/if}}
            {{#if hasNextPage}}
                <li class="page-item">
                    <a class="page-link" href="/api/products?page={{nextPage}}&sort={{sort}}"> Next </a>
                </li>
            {{/if}}
        </ul>
    </nav>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/javascript/products.js"></script>