<style>
  .text-center{font-size:xxx-large}
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1 class="text-center"><img
          src="static/img/Logo.jpg"
          alt="Logo"
          width="60"
          height="60"
        /><b>STAY</b></h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{! <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> }}
      </ul>
      <span class="navbar-text">
        {{#if user}}
          <p><b>Bienvenido, {{user.firstName}} (Rol: {{user.role}})</b></p>
          <form action="/api/sessions/logout" method="get">
            <button type="submit" class="btn btn-dark">Salir</button>
          </form>
        {{else}}
          <p>Usuario no identificado.</p>
          <a href="/login"><button class="btn btn-dark">Login</button></a>
        {{/if}}
      </span>
    </div>
  </div>
</nav>

<div class="container">
  <h2>Lista de Productos</h2>
  <div class="row">
    {{#each prodRender.prodRender.docs}}
      <div id="cardProd" class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card" style="width: 100%;">
          <div class="card-img-container">
            <img
              src="{{this.thumbnail}}"
              class="card-img-top"
              alt="{{this.title}}"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">Descripción: {{this.description}}</p>
            <p class="card-text">Categoría: {{this.category}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <p class="card-text">Precio: ${{this.price}}</p>
            <button
              class="btn btn-primary add-to-cart"
              onclick="addToCart('{{this._id}}')"
            >Agregar al carrito</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>
<!-- Paginación -->
<div class="mt-2 text-end">
  {{#if prodRender.prodRender.prevPage}}
    <a
      class="a3"
      href="/products?page={{prodRender.prodRender.prevPage}}"
    >Anterior</a>
  {{/if}}

  &nbsp;|&nbsp;

  {{#if prodRender.prodRender.nextPage}}
    <a
      class="a3"
      href="/products?page={{prodRender.prodRender.nextPage}}"
    >Siguiente</a>
  {{/if}}
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.socket.io/4.7.5/socket.io.min.js"
  integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"
></script>

<script>

  const addToCart = async (pid) => { const cart = '6657506705b4d620fa3b6729';
  const process = await fetch(`/api/carts/${cart}/product/${pid}`, { method:
  'POST' }); const result = await process.json(); }

</script>