<div class="container-fluid">
   <div id="usersList" class="container"></div>
    {{#each users}}
      <div class="card mb-3" style="max-width: 640px;">
        <div class="row g-0">
          <div class="col-md-4">
            {{#if this.profile}}
              <img
                src={{this.profilePicture}}
                class="img-fluid rounded-start"
                alt="..."
              />
            {{else}}
              <img
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="img-fluid img-thumbnail"
                alt="..."
              />
            {{/if}}
          </div>
          <div class="col-md-8">
            <div class="card-body">
               <form >
                            <h5 class="card-title"> {{this.fullName}} </h5>
              <div class="col-md-12">
                <label class="form-label">Email: </label>
                                <input name="email" class="form-control" id="email" placeholder={{this.email}} value={{this.email}}>
              </div>
              <div class="col-md-12">
                <label class="form-label">Role:</label>
                                         <input name="role" class="form-control m-1" id="role" placeholder={{this.role}} value={{this.role}}>
              </div>
              {{#if this.lastConnection}}
                <p class="card-text">
                  Last Connection:
                  <small class="text-body-secondary">
                    {{this.lastConnection}}
                  </small>
                </p>
              {{else}}
                <p class="card-text">
                  Last Connection:
                  <small class="text-body-secondary"> Inactive user </small>
                </p>
              {{/if}}         
                            <div class="mb-4 text-center">
                                <button class="btnUpdate" data-parameter={{this._id}}> 
                                    Update 
                                </button>
                                <button class="btnDelete" data-parameter="{{this._id}}"data-fullname="{{this.fullName}}">
                                     Delete 
                                </button>
                            </div>                                    
                            </form>       
            </div>
            
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/javascript/usersPanel.js"></script>